<div class="example-box rectangle"
     (mousedown)="focus()"
     cdkDragBoundary=".example-boundary"
     cdkDrag
     mwlResizable
     [ngClass]="fullToggle?'notrans':''"
     [style.z-index]="dataService.focus==1?'2':'1'"
     [style.height]="!fullToggle?kocka.height+'px':height+'px'"
     [style.width]="!fullToggle?kocka.width+'px':width+'px'"
     [style.top]="!fullToggle?kocka.top+'px':'12px'"
     [style.bottom]="!fullToggle?kocka.bottom+'px':'12px'"
     [style.left]="!fullToggle?kocka.left+'px':'12px'"
     [style.right]="!fullToggle?kocka.right+'px':'73px'"
     [enableGhostResize]="true"
     (resizeEnd)="onResizeEnd($event)"
     [validateResize]="validate.bind(this)"
     #rect>
  <span *ngIf="!fullToggle">
    <div
      (mousedown)="sizing=true"
      class="resize-handle-top"
      mwlResizeHandle
      [resizeEdges]="{ top: true }"
    ></div>
    <div
      class="resize-handle-left"
      mwlResizeHandle
      [resizeEdges]="{ left: true }"
    ></div>
    <div
      class="resize-handle-right"
      mwlResizeHandle
      [resizeEdges]="{ right: true }"
    ></div>
    <div
      (mousedown)="sizing=true"
      class="resize-handle-bottom"
      mwlResizeHandle
      [resizeEdges]="{ bottom: true }"
    ></div>
  </span>
  <div class="example-handle" cdkDragHandle>
    <div class="title">
      <img class="navbutt" src="../../assets/img/ieicon.ico"/>
      <p>Web browser</p>
    </div>
    <div>
      <button (click)="tray()" class="navbutt min"></button>
      <button (click)="fullScreen()" class="navbutt max" [style.background-image]="fullToggle?'url(../../assets/img/maximized.png)':'url(../../assets/img/fullscreen.png)'"></button>
      <button (click)="close()" class="navbutt close"></button>
    </div>
  </div>
  <div #browser [style.height]="browserHeight+'px'" [style.display]="sizing?'none':''" class="browser">
    <input #urlInput (input)="urlChanged(urlInput.value)" class="url" [defaultValue]="'raczcsaba.tech'" type="text">
    <ng-rick-roll style="margin: 30px auto" *ngIf="urlInput.value=='rickroll'" [showVideo]="rick(browser.offsetWidth, browser.offsetHeight)"></ng-rick-roll>
    <div class="nonet" *ngIf="urlInput.value != 'rickroll' && urlInput.value != 'raczcsaba.tech'">
      <img style="max-height: 60px; width: auto" src="../../assets/img/nonet.png">
      <div class="nonetinner">
        <h1>Internet Explorer cannot display the webpage</h1>
        <h3>What you can try:</h3>
        <ul style="text-align: start">
          <li>You are not connected to the Internet. Check your Internet connection</li>
          <li>Retype the address.</li>
          <li>Go back to the previous page.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
