.nav{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-image: url("../../assets/img/startmenu.jpg");
}
.startmenu:hover{
  background: url("../../assets/img/startactive.png");
}
.hide{
  display: none;
}
.startmenu{
  background: url("../../assets/img/startnormal.png");
  width: 182px;
  height: 61px;
  border: #3B77BC 0px;
}
.startmenutoggled{
  background: url("../../assets/img/startclick.png");
  width: 182px;
  height: 61px;
  border: #3B77BC 0px;
}
.start{
  position: fixed;
  bottom: 107px;
}
.startlight{
  width: 10%;
  background-image: url("../../assets/img/startmenulight.jpg");
  border-left: black 1px solid;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-left: auto;
}
.time{
  color: aliceblue;
}
.app{
  max-height: 60px;
  width: auto;
  overflow: hidden;
  display: flex;
  padding: 7px 12px;
  margin: 2px;
  border-radius: 5px;
  color: #cccccc;
  border: #cccccc 0px;

}
.ontray{
  background-color: rgba(0, 24, 215, 0.29);
}
.opened{
  background-color: rgba(0, 195, 255, 0.29);
}
.ontray:hover{
  background-color: rgba(0, 24, 215, 0.4);
}
.opened:hover{
  background-color: rgba(0, 195, 255, 0.4);
}
.navkep{
  height: 40px;
}
.navnavigator{
  display: none;
  margin-left: auto;
}
.navbut{
  height: 20px;
  width: 40px;
  background:none;
  margin: 4px 0;
  border: brown 0px;
}
.navbut:hover{
  background-color: rgba(0,0,0,0.2);
}
.up{
  margin-top: 10px;
}
.down{

  margin-top: auto;
}
.arrowvisible{
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 469px)  {
  .app{
    width: 70px;
    overflow: hidden;
  }

  .navtext{
    display: none;
  }
}
