.nav{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-image: url("../../assets/img/startmenu.jpg");
}
.hide{
  display: none;
}
.startmenu:hover{
  background: url("../../assets/img/startactive.png");
}
.startmenu{
  background: url("../../assets/img/startnormal.png");
  width: 182px;
  height: 61px;
  border: #3B77BC 0px;
}
.startmenutoggled{
  background: url("../../assets/img/startclick.png");
  width: 182px;
  height: 61px;
  border: #3B77BC 0px;
}
.start{
  position: fixed;
  bottom: 107px;
  z-index: 3;
  max-height: 459px;
}
.startbg{
  max-height: 459px;
  height: auto;
  position: static;
}
.startbgsm{
  max-height: 187px;
  height: auto;
  display: none;
  position: static;
}
.container{
  position: fixed;
  bottom: 133px;
  height: 374px;
  left: 20px;
}
.right{
  left: 186px;

}
.item{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background: none;
  border: #fd4140 0px;
}
.item:hover p{
  background-color: rgba(17, 3, 255, 0.4);
}
.mid{
  margin: 95px 0;
}
.bot{
  margin-top: 115px;
}
.itemPic{
  height: 30px;
  margin-right: 5px;
}
.item p {
  text-align: start;
}
@media only screen and (max-height: 579px)  {
  .startbg{
    display: none;
  }
  .startbgsm{
    display: block;
  }
  .container{
    height: 100px;
    bottom: 126px;
  }
  .itemPic{
    height: 26px;
  }
  .item p {
    font-size: smaller;
    margin: 0px;
  }
  .item{
    margin-bottom: 10px;
  }
  .top{
    margin: 0px;
  }
  .mid{
    margin: 10px 0;
  }
  .bot{
    margin-top: 13px;
  }
}
.startlight{
  width: 10%;
  background-image: url("../../assets/img/startmenulight.jpg");
  border-left: black 1px solid;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-left: auto;
}
.time{
  color: aliceblue;
}
.app{
  max-height: 60px;
  width: auto;
  overflow: hidden;
  display: flex;
  padding: 7px 12px;
  margin: 2px;
  border-radius: 5px;
  color: #cccccc;
  border: #cccccc 0px;

}
.ontray{
  background-color: rgba(0, 24, 215, 0.29);
}
.opened{
  background-color: rgba(0, 195, 255, 0.29);
}
.ontray:hover{
  background-color: rgba(0, 24, 215, 0.4);
}
.opened:hover{
  background-color: rgba(0, 195, 255, 0.4);
}
.navkep{
  height: 40px;
}
.navnavigator{
  display: none;
  margin-left: auto;
}
.navbut{
  height: 20px;
  width: 40px;
  background:none;
  margin: 4px 0;
  border: brown 0px;
}
.navbut:hover{
  background-color: rgba(0,0,0,0.2);
}
.up{
  margin-top: 10px;
}
.down{

  margin-top: auto;
}
.arrowvisible{
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 497px)  {
  .app{
    width: 70px;
    overflow: hidden;
  }

  .navtext{
    display: none;
  }
}
@media only screen and (max-width: 708px)  {
  .startlight{
    width: 15%;
  }
  .startmenu{
    background: url("../../assets/img/startsmnormal.png");
    width: 76px;
    height: 61px;
  }
  .startmenu:hover{
    background: url("../../assets/img/startsmactive.png");
  }
  .startmenutoggled{
    background: url("../../assets/img/startsmclick.png");
    width: 76px;
    height: 61px;
  }
}
@media only screen and (max-width: 481px)  {
  .startlight{
    width: 20%;
  }

}
