<div *ngIf="toggleStart" class="start" >
  <img class="startbg" src="../../assets/img/startmenu.png">
  <img class="startbgsm" src="../../assets/img/startmenusm.png">
  <div class="container">
    <button (click)="data.internet.tray?toggleTrayIe():dataService.focus=1" class="item">
      <img class="itemPic" src="../../assets/img/ieicon.ico"/>
      <p><b>Internet</b><br>Internet Explorer</p>
    </button>
    <button (click)="data.calculator.tray?toggleTrayCalc():dataService.focus=3" class="item">
      <img class="itemPic" src="../../assets/img/calc.png"/>
      <p><b>Calculator</b></p>
    </button>
  </div>
  <div class="container right">
    <button (click)="data.folder.tray?toggleTrayFile():dataService.focus=2" class="item top">
      <img class="itemPic" src="../../assets/img/mapap.png"/>
      <p><b>My Files</b><br>File Explorer</p>
    </button>
    <button (click)="data.notepad.tray?toggleTrayNote():dataService.focus=4" class="item mid">
      <img class="itemPic" src="../../assets/img/note.png"/>
      <p><b>NotePad</b><br>Text Editor</p>
    </button>
    <button (click)="shutDown()" class="item bot">
      <img class="itemPic" src="../../assets/img/shutdown.png"/>
      <p><b>Shutdown</b></p>
    </button>
  </div>
</div>
<div #nav (window:resize)="onResize(nav.offsetWidth)" class="nav">
  <button (click)="starToggle()" #start [ngClass]="toggleStart?'startmenutoggled':'startmenu'"></button>
  <button *ngIf="!data.internet.closed && showApp.includes('internet')" (click)="toggleTrayIe()" class="app" [ngClass]="dataService.focus==1?'opened':'ontray'">
    <img class="navkep" src="../../assets/img/ieicon.ico"/>
    <p class="navtext">Internet Explorer</p>
  </button>
  <button *ngIf="!data.folder.closed && showApp.includes('folder')" (click)="toggleTrayFile()" class="app" [ngClass]="dataService.focus==2?'opened':'ontray'">
    <img class="navkep" src="../../assets/img/mapap.png"/>
    <p class="navtext">File Manager</p>
  </button>
  <button *ngIf="!data.calculator.closed && showApp.includes('calc')" (click)="toggleTrayCalc()" class="app" [ngClass]="dataService.focus==3?'opened':'ontray'">
    <img class="navkep" src="../../assets/img/calc.png"/>
    <p class="navtext">Calculator</p>
  </button>
  <button *ngIf="!data.notepad.closed && showApp.includes('notepad')" (click)="toggleTrayNote()" class="app" [ngClass]="dataService.focus==4?'opened':'ontray'">
    <img class="navkep" src="../../assets/img/note.png"/>
    <p class="navtext">NotePad</p>
  </button>
  <div class="navnavigator" [ngClass]="arrowVisible?'arrowvisible':'hide'">
    <button (click)="pageUp()" class="up navbut"><mat-icon>keyboard_arrow_up</mat-icon></button>
    <button (click)="pageDown()" class="down navbut"><mat-icon>keyboard_arrow_down</mat-icon></button>
  </div>
  <div class="startlight" [style.margin-left]="arrowVisible?'0':'auto'"><div class="time">{{now.toLocaleString('en-US', { hour: 'numeric', minute: "numeric" ,hour12: true })}}</div></div>
</div>
