.nav{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-image: url("../../assets/img/startmenu.jpg");
}
.startmenu:hover{
  background: url("../../assets/img/startactive.png");
}
.startmenu{
  background: url("../../assets/img/startnormal.png");
  width: 182px;
  height: 61px;
  border: #3B77BC 0px;
}
.startmenutoggled{
  background: url("../../assets/img/startclick.png");
  width: 182px;
  height: 61px;
  border: #3B77BC 0px;
}
.start{
  position: fixed;
  bottom: 107px;
}
.startlight{
  width: 20%;
  background-image: url("../../assets/img/startmenulight.jpg");
  margin-left: auto;
  border-left: black 1px solid;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

}
.time{

}

