<div class="example-box rectangle"
     (mousedown)="focus()"
     cdkDragBoundary=".example-boundary"
     cdkDrag
     mwlResizable
     [style.transform]="fullToggle?'translate3d(0px, 0px, 0px)!important':'translate3d('+transVal.e+'px, '+transVal.f+'px, 0px)'"
     [ngClass]="dataService.focus==2?'focus':''"

     [style.height]="!fullToggle?kocka.height+'px':height+'px'"
     [style.width]="!fullToggle?kocka.width+'px':width+'px'"
     [style.top]="!fullToggle?kocka.top+'px':'12px'"
     [style.bottom]="!fullToggle?kocka.bottom+'px':'12px'"
     [style.left]="!fullToggle?kocka.left+'px':'12px'"
     [style.right]="!fullToggle?kocka.right+'px':'73px'"
     [enableGhostResize]="true"
     (resizeEnd)="onResizeEnd($event)"
     [validateResize]="validate.bind(this)"
     #rect>
  <span *ngIf="!fullToggle">
    <div
      class="resize-handle-top"
      mwlResizeHandle
      [resizeEdges]="{ top: true }"
    ></div>
    <div
      class="resize-handle-left"
      mwlResizeHandle
      [resizeEdges]="{ left: true }"
    ></div>
    <div
      class="resize-handle-right"
      mwlResizeHandle
      [resizeEdges]="{ right: true }"
    ></div>
    <div
      class="resize-handle-bottom"
      mwlResizeHandle
      [resizeEdges]="{ bottom: true }"
    ></div>
  </span>
  <div class="example-handle" cdkDragHandle>
    <div class="title">
      <img class="navbutt" src="../../assets/img/mapap.png"/>
      <p>File manager</p>
    </div>
    <div>
      <button (click)="tray()" class="navbutt min"></button>
      <button (click)="fullScreen()" class="navbutt max"></button>
      <button (click)="close()" class="navbutt close"></button>
    </div>
  </div>
</div>
